@model IEnumerable<ArtShop.Entities.Model.Product>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        'use strict';
        jQuery('body').backstretch([
            "/images/Galeria/galeriaArte3.jpg",
            "/images/Galeria/galeriaArte1.jpg",
            "/images/Galeria/galeriaArte2.jpg",
        ], { duration: 5000, fade: 500 });

        $("#mapwrapper").gMap({
            controls: false,
            scrollwheel: false,
            markers: [{
                latitude: 40.7566,
                longitude: -73.9863,
                icon: {
                    image: "images/marker.png",
                    iconsize: [44, 44],
                    iconanchor: [12, 46],
                    infowindowanchor: [12, 0]
                }
            }],
            icon: {
                image: "images/marker.png",
                iconsize: [26, 46],
                iconanchor: [12, 46],
                infowindowanchor: [12, 0]
            },
            latitude: 40.7566,
            longitude: -73.9863,
            zoom: 14
        });
    });
</script>

<link type="text/css" rel="stylesheet" href="~/css/style.css" />
<link type="text/css" rel="stylesheet" href="~/css/slick.css" />
<link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />
<link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />
<link rel="stylesheet" href="~/css/font-awesome.min.css">

<section id="single-page-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center gap fade-down section-heading">
                                <h2 class="main-title">GALERIA DE ARTE EN LINEA</h2>
                                <hr>
                                <p>Descubra el mundo en pintura.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->

<div id="content-wrapper">
    <section id="portfolio" class="white">
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="products-tabs">
                                <!-- tab -->
                                <div id="tab1" class="tab-pane active">
                                    <div class="products-slick" data-nav="#slick-nav-1">

                                        @foreach (var product in Model)
                                        {
                                            <!-- product -->
                                            <div class="product">
                                                <div class="product-img">
                                                    <img src="~/images/Obras/@product.Image" alt="http://placehold.it/600x600" style="object-fit:contain;height:213px">
                                                    <div class="product-label">
                                                    </div>
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category">Category</p>
                                                    <h3 class="product-name"><a href="#">@product.Title</a></h3>
                                                    <h4 class="product-price">$@product.Price</h4>

                                                    <div class="product-rating">
                                                        @for (int i = 0; i <= product.AvgStars; i++)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                        }
                                                    </div>
                                                    <div class="product-btns">
                                                            <a class="quick-view" href="~/images/Obras/@product.Image" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                                    </div>
                                                </div>
                                                <div class="add-to-cart">
                                                    <button onclick="EviarAlCarro(@product.Id)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar</button>
                                                </div>
                                            </div>
                                            <!-- /product -->
                                        }
                                    </div>
                                    <div id="slick-nav-1" class="products-slick-nav"></div>
                                </div>
                                <!-- /tab -->
                            </div>
                        </div>
                    </div>
                    <!-- Products tab & slick -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->
    </section>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/slick.min.js"></script>
<script src="~/Scripts/nouislider.min.js"></script>
<script src="~/Scripts/jquery.zoom.min.js"></script>
<script src="~/Scripts/main.js"></script>

<script>

    function EviarAlCarro(id) {
        var cantidad = $("#cantidad_" + id).val();
        $.ajax({
            type: "POST",
            url: "/Galeria/AddCart/",
            data: {
                'id': id,
                'cantidad': cantidad
            },
            success: function (datos) {
                location.reload();
            }
        });
    }
</script>