@{
    ViewBag.Title = "Login";
}

@model ArtShop.Entities.Model.Users

<div id="content-wrapper">
    <section id="contact" class="white">
        <div class="container">

            <h1>Bienvenido</h1>

            <h2>
                Inicie sesion
            </h2>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <div class="form-group">
                            <div class="form-group col-md-6">
                                <p>Usuario</p>
                                @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @required = true } })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group col-md-6">
                                <p>Contraseña</p>
                                @Html.PasswordFor(model => model.Contraseña, new { htmlAttributes = new { @required = true } })

                            </div>
                        </div>


                        @if (ViewBag.ErrorMessage != null)
                        {
                            <span class="text-danger">@ViewBag.ErrorMessage</span>
                        }

                        <div class="form-group">
                            <div class="form-group col-md-6">

                                <button class="btn btn-defaul" type="submit">Ingresar</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group col-md-6">

                                <button id="btnRegistro" class="btn btn-defaul" type="submit">Registrate</button>
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>
                    </section>
                </div>

            <script>

                $("#btnRegistro").click(function () {
                    window.location = "/Account/Create";
                });

            </script>
