<script type="text/javascript">
    jQuery(document).ready(function ($) {
        'use strict';
        jQuery('body').backstretch([

            "/images/bg/artes0.jpg",
            "/images/bg/artes1.jpg",
            "/images/bg/arte2.jpg",

        ], { duration: 8000, fade: 500, centeredY: true });

        $("#mapwrapper").gMap({
            controls: false,
            scrollwheel: false,
            markers: [{
                latitude: 40.7566,
                longitude: -73.9863,
                icon: {
                    image: "/images/marker.png",
                    iconsize: [44, 44],
                    iconanchor: [12, 46],
                    infowindowanchor: [12, 0]
                }
            }],
            icon: {
                image: "/images/marker.png",
                iconsize: [26, 46],
                iconanchor: [12, 46],
                infowindowanchor: [12, 0]
            },
            latitude: 40.7566,
            longitude: -73.9863,
            zoom: 14
        });
    });
</script>

<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <span class="home-icon pe-7s-gleam bounce-in"></span>
                                <h2 class="boxed animation animated-item-1 fade-down">Mejor Artshop De Buenos Aires</h2>
                                <p class="boxed animation animated-item-2 fade-up">Nuestros expertos coleccionan las mejores obras de arte.</p>
                                <br>
                                <a class="btn btn-md animation bounce-in" href="#services">Conocer Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->

<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">Su Galería de Arte en Línea</h2>
                        <hr>
                        <p>Nuestra selección para usted</p>
                    </div>
                </div>
            </div>
            <ul class="portfolio-filter fade-down center">
                @*<li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">Escultura</a></li>*@
                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".nature">Obra en Papel</a></li>
                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".apps">Fotografia</a></li>
                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".design">Dibujo</a></li>
            </ul><!--/#portfolio-filter-->

            <ul class="portfolio-items col-3 isotope fade-up">
                <li class="portfolio-item apps isotope-item">
                    <div class="item-inner">
                        <img src="~/images/Obras/kandinsky-F.jpg" alt="">
                        <h5>Obra kandinsky</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/Obras/kandinsky-F.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla nature isotope-item">
                    <div class="item-inner">
                        <img src="~/images/Obras/Guayabas.jpg" alt="">
                        <h5>Guayabas</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="~/images/Obras/Guayabas.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                @*</li>/.portfolio-item*@
                <li class="portfolio-item bootstrap design isotope-item">
                    <div class="item-inner">
                        <img src="~/images/Obras/YoungDollyParton.jpg" alt="">
                        <h5>YoungDollyParton</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="~/images/Obras/YoungDollyParton.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                @*</li>/.portfolio-item*@
                @*<li class="portfolio-item joomla design apps isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio04.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>*@
                @*</li>/.portfolio-item
                <li class="portfolio-item joomla apps isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio05.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li>/.portfolio-item*@
                <li class="portfolio-item wordpress nature isotope-item">
                    <div class="item-inner">
                        <img src="~/images/Obras/zn324F.jpg" alt="">
                        <h5>Obra Arte</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="~/images/Obras/zn324F.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla design apps isotope-item">
                    <div class="item-inner">
                        <img src="~/images/Obras/Farbstudie .jpg" alt="">
                        <h5>Farbstudie</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="~/images/Obras/Farbstudie .jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla nature isotope-item">
                    <div class="item-inner">
                        <img src="~/images/Obras/descarga.jpg" alt="">
                        <h5>Obra Arte</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="~/images/Obras/descarga.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                @*</li>/.portfolio-item
                <li class="portfolio-item wordpress design isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio09.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio09.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li>/.portfolio-item*@
            </ul>
        </div>
        
    </section>


    <section id="single-quote" class="divider-section">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class='col-md-offset-2 col-md-8 fade-up'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">

                                        </div>
                                        <div class="col-sm-9">

                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </div>
    </section>

    <section id="about-us" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">UN POCO SOBRE NOSOTROS</h2>
                        <hr>
                        <p>El arte está hecho para ser visto y compartido</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 fade-up">
                    <p>
                        En Artshop creemos que lo digital es una gran ventaja que da más transparencia y equidad al mercado del arte.

                        Damos a los artistas herramientas que los hacen autónomos en la gestión de su comunicación y la venta de sus obras. Diariamente, nuestro equipo dedica toda su energía a esta misión, para que artistas de todas las nacionalidades tengan la oportunidad de brillar internacionalmente.
                    </p>

                    <p>Al promover artistas de todo el mundo, también queremos permitir que los amantes del arte como nosotros y los coleccionistas más exigentes, se abran fácilmente a nuevos horizontes artísticos, sean tocados por otras culturas e inspirados por talentos que nunca habrían encontrado en otro lugar sino fuera por Artshop.</p>
                </div>
                <div class="col-md-4 fade-up">

                </div>
            </div>

            @*SECCION DE ARTISTAS-------------------------------------------------------------------*@
            <div class="container">
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title">NUESTROS ARTISTAS EN LINEA</h2>
                            <hr>

                        </div>
                    </div>
                </div>

                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title"></h2>
                </div>
                <div class="gap"></div>

                <div id="meet-the-team" class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="images/Artistas/MonikaWaraxa.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="images/Artistas/MonikaWaraxa.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>MONIKA WARAXA<small class="role muted">Pintor Polonia</small></h5>
                                <p>Es una artista visual, educadora y escritora radicada en Beijing. Tiene una Maestría en Pintura de la Academia de Bellas Artes de Varsovia.</p>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="images/Artistas/SylvieFage.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="images/Artistas/SylvieFage.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>SYLVIE FAGE<small class="role muted">ESCULTORA FRANCIA</small></h5>
                                <p>Nació en 1956 - Exposicion Local - Estrella Local</p>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="images/Artistas/Yampier Sardina.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="images/Artistas/Yampier Sardina.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>YAMPIER SARDINA<small class="role muted">PINTOR EE.UU</small></h5>
                                <p>Nació en 1979 - Exposición internacional - Artista experimentado y Trabaja en colecciones privadas en todo el mundo.</p>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="images/Artistas/GustavoLoza.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="images/Artistas/GustavoLoza.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>GUSTAVO LOZA<small class="role muted">Pintor EE.UU</small></h5>
                                <p>Nació en 1960 - Exposición nacional y Participante en Feria de Arte</p>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--/#meet-the-team-->
                <div class="gap"></div>
                <div class="gap"></div>
            </div>
    </section>

    @*<section id="stats" class="divider-section">
            <div class="gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="pe-7s-timer bounce-in"></span></span>
                            <h1><span class="counter">246000</span></h1>
                            <h3>HOURS SAVED</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="pe-7s-light bounce-in"></span></span>
                            <h1><span class="counter">16875</span></h1>
                            <h3>FRESH IDEAS</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="pe-7s-graph1 bounce-in"></span></span>
                            <h1><span class="counter">99999999</span></h1>
                            <h3>HUGE PROFIT</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="pe-7s-box2 bounce-in"></span></span>
                            <h1><span class="counter">54875</span></h1>
                            <h3>THINGS IN BOXES</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </section>*@

    @*<section id="portfolio" class="white">
                    <div class="container">
                        <div class="gap"></div>
                            <div class="center gap fade-down section-heading">
                                <h2 class="main-title">Examples Of Excellence</h2>
                                <hr>
                                <p>She evil face fine calm have now. Separate screened he outweigh of distance landlord.</p>
                            </div>
        <ul class="portfolio-filter fade-down center">
                                <li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">All</a></li>
                                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".apps">Apps</a></li>
                                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".nature">Nature</a></li>
                                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".design">Design</a></li>
                            </ul>/#portfolio-filter

                            <ul class="portfolio-items col-3 isotope fade-up">
                                <li class="portfolio-item apps isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio01.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla nature isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio02.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item bootstrap design isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio03.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla design apps isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio04.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla apps isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio05.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item wordpress nature isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio06.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla design apps isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio07.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla nature isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio08.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item wordpress design isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio09.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio09.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                            </ul>
                        </div>
                    </section>*@

    <section id="testimonial-carousel" class="divider-section">
        <div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">ARTE DESTACADO DE LA SEMANA</h2>
                    <hr>
                    <p>Encuentre en Artshop su obra de arte preferida.</p>
                    <div class="gap"></div>
                </div>
                <div class='col-md-offset-2 col-md-8 fade-up'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-responsive" src="images/team/ObraArte1.jpg" style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Desde la 'Noche estrellada sobre el Ródano' de Vincent van Gogh, pasando por los 'Nenúfares' de Monet y terminando en el 'En el Lapin Agile' de Pablo Picasso. Recorremos los 13 lugares reales que han inspirado famosas obras de arte.</p>
                                            <small>Vincent van Gogh</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-responsive" src="images/team/ObraArte2.jpg" style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>La Persistencia de la Memoria - Reconocido como una obra maestra del surrealismo por su atmósfera onírica representada por relojes que se derriten en medio del desierto. Alude al tiempo y a la medida de una eternidad que parece no conocer la humanidad. La inquietante creatura que se encuentra sobre la arena dibuja un perfil que probablemente es el del autor, Dalí, quien parece dormir y soñar toda la escena. Se exhibe en el Museo de Arte Moderno de Nueva York.</p>
                                            <small>Salvador Dalí</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-responsive" src="images/team/ObraArte3.jpg" style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>La Rueda de Bicicleta es el primer ready – made de Marcel Duchamp, toda una serie de objetos que creó para desafiar las suposiciones que constituyen una obra de arte. En este ready – made Duchamp combina dos piezas de producción masiva, una rueda de bicicleta y un taburete, para crear una máquina sin funcionalidad alguna. Con esto en mente, Duchamp continuó seleccionando objetos prefabricados y llamándolos arte, acciones que cambiaron la experiencia del espectador y la óptica de lo que es el arte. Actualmente se exhibe en el Museo de Arte Moderno de Nueva York.</p>
                                            <small>Marcel Duchamp</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </div>
    </section>

    <section id="contact" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="center gap fade-down section-heading">
                <h2 class="main-title">PONGASE EN CONTACTO</h2>
                <hr>
                <p>Sea cual sea su consulta, estamos aqui para responderla</p>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4 fade-up">
                    <h3>Informacion De Contacto</h3>
                    <p>
                        <span class="icon icon-phone"></span>+5411 3681 1985<br />
                        <span class="icon icon-envelop"></span> <a href="#">email@equipo2.com</a> <br />
                        <span class="icon icon-facebook"></span> <a href="#">Artshop </a> <br />
                    </p>
                </div><!-- col -->

                <div class="col-md-8 fade-up">
                    <h3>Dejenos su mensaje</h3>
                    <br>
                    <br>
                    <div id="message"></div>

                    <form method="post" action="sendemail.php" id="contactform">
                        <div>
                        <input type="text" name="name" id="name" placeholder="Nombre" />
                        <input type="text" name="email" id="email" placeholder="Email" />
                        <input type="text" name="website" id="website" placeholder="Articulo de interes" />
                        <textarea name="comments" id="comments" placeholder="Comentarios"></textarea>
                        <input class="btn btn-outlined btn-primary" type="submit" name="submit" value="Submit" />
                    
                        </div>
                    
                    </form>
                </div><!-- col -->
            </div><!-- row -->
            <div class="gap"></div>
        </div>
    </section>
</div>
